@import "components";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1600px;
  margin: auto;
  padding: .8rem;
}

body {
  background-color: #efefef;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
